<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
    <!-- the ERB tag below will be replaced by the value of @name -->
     <a href="/"> <h1>MakersBnB!</h1></a>
     <h3>Details of a property dates MakersBnB!</h3>
    <p>
    
    <a href="/"><button class="button">Home page</button></a><br><br>
    
    
   <h2>Property name: <%= @property.name %></h2>
   Property dates:<br>
    <% @property.start_date.zip(@property.end_date) do |date| %>
        <%= p date.join(" ") %>
        <br>
        <%end%>
    
    
    </p>


  </body>
</html>