<!-- file: views/homepage.erb -->
<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
  <div>
     <a href="/"> <h1>MakersBnB!</h1></a>
     <h3>Welcome to MakersBnB!</h3>
    <p>
    
    <br><br>
    <a href="/signup"><button class="button">Sign up</button></a>
    <a href="/list_property"><button class="button">List Property</button></a>
    <br><br>
    List of Properties:
    <% @properties.each do |property| %>
      <div>Name: <a href="/property/<%= property.id %>"><%= property.name %></a> Price per night: £<%= property.price %></div>
    <% end %>
    
    </p>
</div>
    


  </body>
</html>