<!-- file: views/list_property.erb -->
<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
     <a href="/"> <h1>MakersBnB!</h1></a>
     <h3>List a new property to MakersBnB!</h3>
    <h2> List Property </h2>
    <p>
    <form action="/list_property" method="POST">
      Property Name: <input type="text" name="name"><br><br>
      Property Description: <input type="text" name="description"><br><br>
      Property Price: <input type="text" name="price"><br><br>
    
      <input class="button" type="submit" value="create property">
    </form>
    
    </p>


  </body>
</html>