<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
    <%= @success %>
    <meta http-equiv='Refresh' content='0; url= &quot/&quot '/>


  </body>
</html>