<html>
  <head></head>
  <body>
    <!-- the ERB tag below will be replaced by the value of @name -->
    <h1> MakersBnB by priceless </h1>
    <p>
    
    
    Property details:
    
    <div>Name: <%= @property.name %></div>
    <div>Description: <%= @property.description %></div>
    <div>Price per night: £<%= @property.price %></div>
    <a href="/">Home Page</a>
    
    </p>


  </body>
</html>