<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
  <div class="form">
    <!-- the ERB tag below will be replaced by the value of @name -->
    <h1> MakersBnB by priceless </h1>
    <p>
    
    New user has been created!
    
    </p>

    <div><a href="/"><button class="button">Homepage</button></a></div>

  </div>

  </body>
</html>