<html>
  <head><link href="<%= url('/users.css') %>" rel="stylesheet" type="text/css" /></head>
  <body>
  <div >
    <!-- the ERB tag below will be replaced by the value of @name -->
     <a href="/"> <h1>MakersBnB!</h1></a>
     <h3>New user has been created!</h3>
    <p>
    
    
    
    </p>

    <div><a href="/"><button class="button">Homepage</button></a></div>

  </div>

  </body>
</html>